sudo: required

services:
  - docker

env:
  global:
    - VERSION=1.44
    - DOCKER_USERNAME=librenms
    - DOCKER_REPONAME=librenms
    - DOCKER_LOGIN=librenmsbot
    - QUAY_USERNAME=librenms
    - QUAY_REPONAME=librenms
    - QUAY_LOGIN=librenms+travis
    - secure: I9FQ/3FSXYcFaMKM5l59307WUKDmtNMsURZY5GdxH0pS4nKYtLx9URhtR96/7YdyppzXFxW5hI9ooDm5kEvaapuFKnMltLLkFAyNKWUP2QbSq8/PdZhS5R6RCvdv4Eg8cIvS04R1u1effgbdsqg5w9CM3+WYgLnzbMX9oWcGrUzlo0PZAMeL/eTimOLi77esxYSQz9uss2lE4fmXOFnvAqlHSyfGgboHMf1ccL9y051CxQZwJHFtXuamFzoPipO/mxKkJ94Mgx6KRKlfj86bE3YC5IFg2GKFR8aANzGIE5fD0leJy8FAgXzHqxncaPws9W9EDsvm72sHy9ucZ3qd3hJv+94o1mpN2UCTH53vJfqS+FYZ1LQYGwC6OCetQbK2ydag2dFAKxmEhJ9id4KlLMDmR0S0WfQV544a9Tdy9Ej88NfpdyDRBtNkNHbAs2OKa7IP4hLOw0wq/XYAWksHoqncDuyBatBz2mcKY+lZ+oESfDOOXLDEjzhb0hzQjfjlm/J6pixtZ+WtrDpy2lwN+3gI+reRoUf06loTC5TtGe9wAvpx3m7Zj/bbD8yXHcSxRg5OKdKO2GU6WJlwdgmMWVLBlxoGeCV0EpughM/7Ho7YZ1t3PoyiezxMWmPTOIIB59xJjxPl+eKvO4njtKfCNvXJIJl82B7SGT1Pnq7NzOI= # DOCKER_PASSWORD
    - secure: eoujj2pOklqQNSBmeKXSegi8PkNa57T6gCX2SJuTpuscNM7RBecZz+0ET9VhOpTxprvph43o8vB7QuvJFwM8AveoOy1GeySlRyt24Wilke3Gkg5h4NRGh25sdZZstyIhrQg7g4YS9fDV8BkcwU3RRJE9u5Cg5M3cl7H4m09Oj4g8xJZ3xJ4equZQERyq92KiKYpGgTMLDhMA65n9cyT41Wa0N9Ri52E3blrzWw8WYEGjj8CTkcgyJrWXgcbu72VFyQagQJ7ojitcwE1pci0SFonHtYJjML8Ig6MNlrrAknx0Tpx3x4OiErfU6pu5k3HiCM2OSBrqwBnNu9kz9cotLHxq8CT0ePQx2H71aew0ZJW14HOTTGHrrwbHfOhwnqI7npOY05RD97DZT0WlKInzUXDoyzypSJv4UHtjBpDa6zpoB34bcqqf+tOrtpkwO0ThxQVQPkd/ypZH6dmmO0RjP+QClByntHPefFLen8rKFRclu9FUU/7l4Lar4v0wSBYgnM58SN9PS+hssibZzrTdWTR5i82Xr8gk+qCaogpx8iE+OsBDe3yzr0IWfap+iG59V1I8+P+RMBNl4Lc0yS2gbEE30+Rhb4/vtUZlTGoVAEzPCWglASZOC/hfISPmCGkqI/jwjv38itrxQR5xrO/g0ecOi+ue4gl80tmWJnS8NRM= # QUAY_PASSWORD

before_install:
  - sudo apt-get update
  - docker --version
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo $TRAVIS_PULL_REQUEST_BRANCH; fi)
  - export DOCKER_TAG=$(if [ "$BRANCH" == "master" ]; then echo "latest"; else echo $BRANCH; fi)
  - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH, PR=$PR, BRANCH=$BRANCH, DOCKER_TAG=$DOCKER_TAG"

install:
  - |
    docker build --build-arg BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"` \
    --build-arg VCS_REF=${TRAVIS_COMMIT::8} \
    --build-arg VERSION=${VERSION} \
    -t docker_build .

before_script:
  - docker network create -d bridge $DOCKER_REPONAME
  - docker run -d --network=$DOCKER_REPONAME --name db mariadb:10.2
  - docker run -d --network=$DOCKER_REPONAME --link db -p 8000:80 -e "DB_HOST=db" -e "DB_PASSWORD=asupersecretpassword" --name $DOCKER_REPONAME docker_build
  - sleep 20
  - docker logs $DOCKER_REPONAME

script:
  - docker ps | grep $DOCKER_REPONAME

after_success:
  - |
    test $TRAVIS_PULL_REQUEST = false \
    && echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_LOGIN" --password-stdin \
    && docker tag docker_build $DOCKER_USERNAME/$DOCKER_REPONAME:$DOCKER_TAG \
    && docker tag docker_build $DOCKER_USERNAME/$DOCKER_REPONAME:$VERSION \
    && docker push $DOCKER_USERNAME/$DOCKER_REPONAME \
    && echo "$QUAY_PASSWORD" | docker login quay.io --username "$QUAY_LOGIN" --password-stdin \
    && docker tag docker_build quay.io/$DOCKER_USERNAME/$DOCKER_REPONAME:$DOCKER_TAG \
    && docker tag docker_build quay.io/$DOCKER_USERNAME/$DOCKER_REPONAME:$VERSION \
    && docker push quay.io/$QUAY_USERNAME/$QUAY_REPONAME

branches:
  except:
    - /^[0-9]/
